.tiitel {
    text-align: center;
}

.pildi-tiitel {
    position: absolute;

    font-size: 32px;
    color: white;

    text-align: center;
    left: 0;
    right: 0;
    top: 10px;
}

html{
    background-image: url(esileht3.jpg);
}