.tiitel {
    text-align: center;
    color: white;
    font-size: 40px;
}

.pildi-tiitel {
    position: absolute;

    font-size: 32px;
    color: white;
    text-shadow: 2px 2px 5px black;

    text-align: center;
    left: 0;
    right: 0;
    top: 10px;
}

.pealehe-col {
    flex: 1;
    position: relative;
    margin: 10px;
}

.pealeht-container {
    margin: 10em auto 10em auto;
    width: 65%;
}

html{
    background-image: url("esileht3.jpg");
}