




header {
	background: url("teraapia_taust.jpg");
	text-align: center;
	width: 100%;
	height: 600px;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
    
    
}

h1 {
	font-family: 'Dancing Script', cursive;
	
	margin-bottom: 30px;
    text-align: center;
    
}
